<section class="errors-section">
    <ul class="ul-errors">
        <%if(locals.errors_log_in){ %>
            <% errors_log_in.forEach(error => { %>
                <li><%- error.msg %></li>
            <% }) %>
        <% } %>
    </ul>
</section>