<header>
    <h1>Members only</h1>
    <div class="buttons-header">
        <button class="button-header log-in-button">Log in</button>
        <button class="button-header sign-up-button">Sign up</button>
    </div>
</header>