<header>
    <a href="/" class="a-header">
        <h1>Members only</h1>
    </a>
    <div class="buttons-header">
        <% if(locals.userSession) { %>
            <div class="username-data-header">
                <div class="username-header"><%-userSession.firstname%> <%-userSession.lastname%></div>
                <div class="role-header">Role: <%- userSession.role%></div>
            </div>
            <a href="/message" class="create-msg-header">
                <svg style="width:30px;height:30px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
                </svg>
                Create MSG
            </a>
            <a href="/log-out" class="button-header-display button-header log-out-button">Log out</a>
        <% } else { %>
            <a class="button-header-display button-header log-in-button">Log in</a>
            <a class="button-header-display button-header sign-up-button">Sign up</a>
        <% } %>       
    </div>
    <div id="svg-container">
        <svg class="svg svg-menu" id="svg-menu" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
        <svg class="svg svg-close" id="svg-close" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
    </div>
</header>