<header>
    <a href="/" class="a-header">
        <h1>Members only</h1>
    </a>
    <div class="buttons-header">
        <a class="button-header log-in-button">Log in</a>
        <a class="button-header sign-up-button">Sign up</a>
    </div>
</header>