<% 
    let username = '';
    if(locals.user){
        username = user.username;
    };
%>
<form action="/log-in" method="POST" class="log-in">
    <svg class="close-log-in" style="width:24px;height:24px" viewBox="0 0 24 24">
        <path color="gray" fill="currentColor" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
    </svg>
    <h2>Log in</h2>
    <div class="sign_up_form_div">
        <label for="username1">Username:</label>
        <input type="text" id="username1" name="username" placeholder="Houser" required 
        value= "<%- `${username}` %>">
    </div>
    <div class="sign_up_form_div">
        <label for="pwd1">Password:</label>
        <input type="password" id="pwd1" name="password" required>
    </div>
    <button class="log-in-submit">Submit</button>
    <%  if(locals.errors){ %>
            <%- include('errors-log-in.ejs') %> 
        <% } %>
</form>