<div class="message-card">
    <h2 class="title-message">Here goes title</h2>
    <div class="content-message">Here goes text</div>
    <div class="author-n-date">
        <div class="timestamp-message">Here goes timestamp</div>
        <div class="author-message">Here goes author</div>
    </div>
</div>