<% 
    let username = '';
    if(locals.userSession) {
        let index = userSession.username.indexOf('@');
        username = userSession.username.slice(0, index);
    }
%>
<nav class="navbar">
    <% if(locals.userSession) { %>
        <div class="username-data-nav">
            <div class="username-nav"><%-userSession.firstname%> <%-userSession.lastname%></div>
            <div class="role-nav">Role: <%- userSession.role%></div>
        </div>
        <a href="/message" class="create-msg-nav">
            <svg class="plus-icon" style="width:30px;height:30px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
            </svg>
            Create MSG
        </a>
        <% if(userSession.role === 'User') {%>
            <a class="button-nav secret-button secret-button-nav">Secret code</a>
        <% } %>
        <a href="/log-out" class="button-nav log-out-button">Log out</a>
    <% } else { %>
        <a class="button-nav log-in-button log-in-button-nav">Log in</a>
        <a class="button-nav sign-up-button sign-up-button-nav">Sign up</a>
    <% } %>   
</nav>