@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    font-size: 22px;
    padding: 10px 0px;
    display: flex;
    justify-content: center; align-items: center;
    gap: 15px;
    font-family: 'Oleo Script Swash Caps', cursive;
}


@media (max-width: 350px) {
  footer {
      font-size: 18px;
  }
}