@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

footer {
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    color: white;
    width: 100%;
    font-size: 22px;
    padding: 20px 0px;
    display: flex;
    justify-content: center; align-items: center;
    gap: 15px;
    font-family: 'Oleo Script Swash Caps', cursive;
}


@media (max-width: 350px) {
  footer {
      font-size: 18px;
  }
}