@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

header{
    color: white;
    background-color: white;
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    margin: 0px;
    padding: 20px 26px;
    width: 100%;
    display: flex;
    justify-content: space-between; align-items: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
    z-index: 1;
}

header h1 {
    margin: 0;
    transition: transform 200ms ease-in-out 0s;
    text-align: center;
    margin-right: 20px;
}

header h1:hover {
    transform: scale(1.1);
}

header .buttons-header{
    display: flex;
    align-items: center;
}

header .username-data-header {
    display: flex; flex-flow: column;
    align-items: center;
    margin-right: 30px;
}

header .button-header{
padding: 6px 20px;
cursor: pointer;
border: none;
border-radius: 10px;
font-family: 'Oleo Script Swash Caps', cursive;
font-size: 25px;
}

header a {
    background-color: rgb(232, 232, 232);
    color: black;
}

header .a-header{
    background-color: transparent;
    color: white;
}

header .log-in-button {
background-color: #00FF00;
margin-right: 14px;
}

header .log-in-button:hover {
    background-color: #49ff49;
}

header .sign-up-button:hover {
    background-color: #ffffff;
}

header .log-out-button {
    background-color: #fc7a00f6;
}

header .log-out-button:hover {
    background-color: #fd9330f6;
}

header .svg {
    width: 40px; height: 40px;
    cursor: pointer;
    display: none;
}

#svg-container{
    width: 40px; height: 40px;
    cursor: pointer;
    display: none;
}

/* Si no se coloca, entonces cuando se sale de la MEDIA QUERY no regresan a NONE. */
#svg-menu, #svg-close{
    display: none;
    
}

.create-msg-header{
    margin-right: 30px;
    display: flex; flex-flow: column;
    align-items: center;
    color:white;
    background-color: transparent;
}

.plus-icon{
    transition: transform 300ms ease-in-out;
}

.create-msg-header:hover > .plus-icon{
    transform: rotateZ(360deg);
}

.secret-button{
    background-color: #1e90ff;
}

.secret-button:hover{
    background-color: #41a0ff;
}

.button-header.secret-button{
    margin-right: 30px;
}

@media (max-width: 900px) {
    #svg-menu{
        display: initial;
    }

    #svg-container{
        display: initial;
    }

    .button-header-display {
        display: none;
    }

    header .username-data-header{
        display:none
    }

    header .create-msg-header{
        display: none;
    }

    header .button-header.secret-button{
        display: none;
    }
}

@media (max-width: 350px) {
    header {
        padding: 20px 18px;
        font-size: 16px;
    }
}