@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

header{
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0px;
    padding: 0px 26px;
    width: 100%;
    display: flex;
    justify-content: space-between; align-items: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
}

header h1 {
    padding: 20px 0px;
    margin: 0;
    transition: transform 200ms ease-in-out 0s;
}

header h1:hover {
    transform: scale(1.1);
}

header .button-header{
padding: 6px 20px;
cursor: pointer;
border: none;
border-radius: 10px;
font-family: 'Oleo Script Swash Caps', cursive;
font-size: 25px;
}

header a {
    background-color: rgb(232, 232, 232);
    color: black;
}

header .a-header{
    background-color: transparent;
    color: white;
}

header .log-in-button {
background-color: #00FF00;
margin-right: 14px;
}

header .log-in-button:hover {
    background-color: #49ff49;
}

header .sign-up-button:hover {
    background-color: #ffffff;
}

header .log-out-button {
    background-color: #fc7a00f6;
}

header .log-out-button:hover {
    background-color: #fd9330f6;
}

header .svg {
    width: 40px; height: 40px;
    cursor: pointer;
    display: none;
}

#svg-container{
    width: 40px; height: 40px;
    cursor: pointer;
    display: none;
}

/* Si no se coloca, entonces cuando se sale de la MEDIA QUERY no regresan a NONE. */
#svg-menu, #svg-close{
    display: none;
    
}

.svg-menu-close{
    background-image: url('../images/close.svg');
}

@media (max-width: 550px) {
    #svg-menu{
        display: initial;
    }

    #svg-container{
        display: initial;
    }

    .button-header-display {
        display: none;
    }
}