@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.message-card{
    display: flex; flex-flow: column;
    background-color: grey;
    background-color: black;
    color: white;
    align-items: center; justify-content: space-between;
    width: 100%; height: 250px;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Oleo Script Swash Caps', cursive;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    border: 2px solid black;
}

.message-card .title-message {
    margin: 0px; padding: 10px 15px;
    font-size: 26px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    color: white;
    width: 100%;
    display: flex;
    align-items: center; justify-content: center;
}

.message-card .content-message{
    background-color: #bcd4e6;
    background-color: white;
    color: black;
    flex: 1;
    width: 100%;
    text-align: justify;
    padding: 5px 5px;
    font-size: 18px;
}

.message-card .author-n-date{
    display: flex;
    align-items: center; justify-content: center;
    height: 40px; width: 100%;
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
}

.author-n-date .timestamp-message, .author-n-date .author-message{
    display: flex;
    align-items: center; justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #7b68ee;
    background-color: transparent;
}

.delete-message-form{
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.message-card:hover > .delete-message-form {
    opacity: 1;
}

.button-svg{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width:24px;height:24px;
    display: flex;
    align-items: center; justify-content: center;
    padding: 0;
}

.svgs-close-button{
    width: 100%; height: 100%;
}