@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.message-form {
    width: 100%;
    height: 100%;
    display: flex; flex-flow: column;
    align-items: center; justify-content: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    
}

form .div-form-message{
    display: flex; flex-flow: column;
    width: 70%;
    margin: 10px 0px;
}

form .div-form-message input {
    font-size: 20px;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

form .div-form-message label {
    font-size: 28px;
}

#message{
    height: 150px;
    border: none;
    border-radius: 10px;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding: 10px 10px;
    font-size: 22px;
    letter-spacing: 1px;
}

form .message-submit {
    margin: 10px 0px 0px;
    font-size: 20px;
    padding: 10px 26px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 195, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
    cursor: pointer;
}

.message-submit:hover {
    background-color: rgb(39, 205, 255);
}