@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

nav{
    display: none; flex-flow: column;
    align-items: center; justify-content: space-evenly;
    height: 280px;
    width: 220px;
    padding: 0; margin: 0;
    position: absolute;
    background-color: black;
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    left: 100%;
    transition: transform 250ms ease-in-out 0s;
    border-bottom-left-radius: 10px;
    border-bottom: white 2px solid;
    border-top-left-radius: 10px;
    border-top: white 2px solid;
    border-left: 2px white solid;
    z-index: 1;
}

nav .button-nav{
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
}

nav a {
    background-color: rgb(232, 232, 232);
    color: black;
}

nav .username-data-nav{
    display: flex; flex-flow: column;
    align-items: center;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
}

nav .log-in-button {
background-color: #00FF00;
}

nav .log-in-button:hover {
    background-color: #49ff49;
}

nav .sign-up-button:hover {
    background-color: #ffffff;
}

nav .log-out-button {
    background-color: #fc7a00f6;
}

nav .log-out-button:hover {
    background-color: #fd9330f6;
}

nav .create-msg-nav {
    display: flex; flex-flow: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: transparent;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
}

.plus-icon{
    transition: transform 300ms ease-in-out;
}

.create-msg-nav:hover > .plus-icon{
    transform: rotateZ(360deg);
}

@media (max-width: 900px) {
    nav {
        display: flex;
    }
}