.secret-code{
    background-color: black;
    color: white;
    width: 300px;
    padding: 20px 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    border-radius: 20px;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%, -200%) scale(0.1);
    display: flex; flex-flow: column;
    align-items: center;
    transition: transform 400ms ease-in-out 0s, opacity 400ms ease-in-out 0s;
    opacity: 0;
    z-index: 15;
    border: 2px white solid;
}