@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
}

html{
  width: 100%; height:100%; 
  display: flex; flex-flow: column;
  flex: 1;
}

body {
  width: 100%; height:100%; 
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

a {
  color: #00B7FF;
}

h1 {
  padding: 20px 0px;
  margin: 0;
}

.index-main-body{
  background-color: #4B0082;
  display: flex; flex-flow: column;
  flex: 1; height: 100%; width: 100%;
}
