@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html{
  width: 100%; height:100%; 
  display: flex; flex-flow: column;
  flex: 1;
}

body {
  width: 100%; height:100%; 
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  padding: 0px;
  margin: 0px;
  background-color: #4B0082;
  position: relative;
}

a {
  color: #00B7FF;
}

.index-main-body{
  background-color: #4B0082;
  display: flex; flex-flow: column;
  flex: 1; height: 100%; width: 100%;
  position: relative;
  overflow: hidden;
}

.window-protection {
  width: 100%;
  height: 100%;
  display: flex; flex-flow: column;
  flex: 1;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.287);
  display: none;
}

/* DIV para saber que abrir el formulario de SIGN UP */
.valueToOpenForm{
  display: none;
}
