@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html{
  width: 100%;
  display: flex; flex-flow: column;
}

body {
  width: 100%; min-height: 100vh;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  padding: 0px;
  margin: 0px;
  background-color: #9400d3;
  background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
  background: linear-gradient(359deg, rgb(150, 192, 255) -17.7%, rgb(255, 180, 161) 101.5%);
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  /*background-color: #4B0082;*/
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  color: #00B7FF;
}

.index-main-body-container{
  display: flex; flex-flow: column;
  width: 100%; flex: 1;
  position: relative;
  justify-content: center;
  padding: 0px 30px;
  text-align: center;
}

.index-main-body{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(320px, 320px));
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  height: 100%; width: 100%; 
  align-items: center; justify-content: center;
  padding: 60px 60px;
  column-gap: 60px;
  grid-auto-rows: 320px;
  row-gap: 50px;
  overflow: hidden;
}

.window-protection {
  width: 100%;
  height: 100%;
  display: flex; flex-flow: column;
  flex: 1;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.287);
  display: none;
}

/* DIV para saber que abrir el formulario de SIGN UP */
.valueToOpenForm{
  display: none;
}

/*Subcontainer para los formularios*/
.subcontainer-forms{
  background-color: transparent;
  width: 100%; height: 100vh;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.error-message {
  display: flex;
  width: 100%; height: 100%;
  align-items: center; justify-content: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 60px;
}

@media (max-width: 620px) {
  .error-message{
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .index-main-body{
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  } 
}

@media (max-width: 500px) {
  .error-message{
    font-size: 40px;
  }
}

@media (max-width: 410px) {
  .error-message{
    font-size: 32px;
  }
}