@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html{
  width: 100%; height: 100%;
  display: flex; flex-flow: column;
}

body {
  width: 100%; flex: 1;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  padding: 0px;
  margin: 0px;
  background-color: #9400d3;
  /*background-color: #4B0082;*/
  position: relative;
}

a {
  color: #00B7FF;
}

.index-main-body-container{
  display: flex; flex-flow: column;
  flex: 1; width: 100%;
  position: relative;
}

.index-main-body{
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(250px, 250px));
  grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  height: 100%; width: 100%; 
  align-items: center; justify-content: center;
  padding: 60px 0px;
  column-gap: 100px;
  row-gap: 30px;
  overflow: visible;
  min-width: 0;
}

.window-protection {
  width: 100%;
  height: 100%;
  display: flex; flex-flow: column;
  flex: 1;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.287);
  display: none;
}

/* DIV para saber que abrir el formulario de SIGN UP */
.valueToOpenForm{
  display: none;
}

.error-message {
  display: flex;
  width: 100%; height: 100%;
  align-items: center; justify-content: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 60px;
}
